body {
	background-image: url("../images/question-mark-background.jpg");
	font-family: 'Acme', sans-serif;
}

button {
	font-family: 'Passion One', cursive;
}

#logo {
	height: 350px;
}

.container {
	background-color: aquamarine;
	min-height: calc(100vh);
	padding: 30px;
}

.correct{
	border-width: 2px;
	border-color: green;
	border-style: solid;
}

.wrong {
	border-width: 2px;
	border-color: red;
	border-style: solid;
}

h5 {
	display: inline;
}

#answers {
	padding-left: 0px;
}